<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/default :: resources" />
<body>
<div th:replace="templates/customer/default :: header" />
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <div th:replace="templates/default :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})"> </div>
    </th:block>
    <div class="hero-unit">
        <h1>Welcome to the Axon-Orders</h1>
        <h2>Customer Home</h2>
        <p>

            This application provides a proof of concept of the following technologies.

        <ol>
            <li>Spring 4</li>
            <li>Axon Framework</li>
            <li>Thymeleaf</li>
        </ol>
        </p>
        <p>
           <a href="/customer/fragment" th:href="@{/customer/fragment}">see web-fragment content</a>
        </p>
    </div>
</div>
<div th:replace="templates/customer/default :: footer"/>
</body>
</html>