<div>
    <form class="form" role="form">
        <div class="form-group">
            <label for="product-model-number">Model Number</label>
            <input type="text" class="form-control" id="product-model-number" placeholder="Enter model number">
        </div>

        <div class="form-group">
            <label for="product-brand">Brand</label>
            <input type="text" class="form-control" id="product-brand" placeholder="Enter brand">
        </div>
        <div style="text-align: right">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </form>
</div>