<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="none">
    <!--
    This file is here for bean-discovery-mode="none", which turns off CDI 1.1's erroneous behaviour
    of assuming that anything annotated with @Inject is a "managed bean" and must be instantiated
    -->
</beans>